.button {
    border: solid #efefef 1px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border-bottom: 3px solid rgba(0,0,0,0.1);
}

a.button {
    text-decoration: none;
}
a.button:hover {
    background-color: rgba(66,185,131,0.1);
    border-color: rgba(66,185,131,0.4);
    transition: .5s;
}

/* purple text and background hover */
a.text-purple, .text-purple {
    color: rgba(100, 66, 185, 1);
}
a.bg-purple:hover, .bg-purple:hover {
    background-color: rgba(100, 66, 185, 0.1);
    border-color: rgba(100, 66, 185, 0.4);
}

/* orange text and background hover */
a.text-warning, .text-warning {
    color: rgb(185, 139, 66);
}
a.bg-warning:hover, .bg-warning:hover {
    background-color: rgba(185, 139, 66, 0.1);
    border-color: rgba(185, 139, 66, 0.4);
}